Addition of numbers in a function that takes two numbers and add them

In [0]:
def add_num(x,y):
  return x+y

add_num(2,3)

5


add_numbers updated to take an optional 3rd parameter.

In [0]:
def add_num(x,y,z=None):
  if (z == None):
    return x+y
  else:
    return x+y+z

print(add_num(2,4))
print(add_num(3,5,6))

6
14


Assign function add_numbers to variable a.

In [0]:
def add_num(x,y):
  return x+y
a = add_num
a(4,9)

13

**Types and Sequences**

In [0]:
print(type('This is a string'))
print(type(None))
print(type(1))
print(type(1.0))
print(type(add_num))

<class 'str'>
<class 'NoneType'>
<class 'int'>
<class 'float'>
<class 'function'>

Tuples are an immutable data structure (cannot be altered)

In [0]:
x = (1, 'a', 2, 'b')
type(x)

tuple


Lists are a mutable data structure.

In [0]:
x = [1, 'a', 2, 'b']
type(x)
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]


This is an example of how to loop through each item in the list.

In [0]:
for item in x:
  print(x)
  print(len(x))

[1, 'a', 2, 'b', 3.3]
5
[1, 'a', 2, 'b', 3.3]
5
[1, 'a', 2, 'b', 3.3]
5
[1, 'a', 2, 'b', 3.3]
5
[1, 'a', 2, 'b', 3.3]
5

Or using the indexing operator:

In [0]:
i=0
while( i != len(x) ):
    print(x[i])
    i = i + 1

1
a
2
b
3.3

Now let's look at strings. Use bracket notation to slice a string.

In [0]:
x = 'This is a string'
print(x[0]) #first character
print(x[0:1]) #first character, but we have explicitly set the end character
print(x[0:2]) #first two characters
#x[start,stop,step]
print(x[3:])
print(x[-4:-2]) #reverse slicing

T
T
Th
s is a string
ri

In [0]:
firstname = 'Ritik'
lastname = 'Dhiman'

print(firstname + ' ' + lastname)
print(firstname*3)
print('Ritik' in firstname)
print('Dhiman' in firstname)

Ritik Dhiman
RitikRitikRitik
True
False


split returns a list of all the words in a string, or a list split on a specific character.

In [0]:
firstname = 'Ritik is my first name'.split(' ')[0] # [0] selects the first element of the list
lastname = 'Dhiman is my last name'.split(' ')[-1] # [-1] selects the last element of the list
lists = 'Name and Birthplace'.split(' ')[-1]
print(firstname)
print(lastname)
print(lists)

Ritik
name
Birthplace


Make sure you convert objects to strings before concatenating.

In [0]:
'Ritik' + 2
'Ritik' + str(2)

**DATE AND TIME**

Date and time can be stored in many  different ways in python but one of the most common legacy method is based on ofset of Epochs , which is January 1, 1970

In [0]:
import datetime as dt
import time as tm

tm.time()
dt.datetime.fromtimestamp(tm.time())

datetime.datetime(2020, 5, 18, 17, 25, 29, 9926)

In [0]:
print(tm.localtime())
print(tm.gmtime(0))

time.struct_time(tm_year=2020, tm_mon=5, tm_mday=18, tm_hour=17, tm_min=32, tm_sec=13, tm_wday=0, tm_yday=139, tm_isdst=0)
time.struct_time(tm_year=1970, tm_mon=1, tm_mday=1, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=1, tm_isdst=0)

 
**functions**
A function is a set of statements that take inputs, do some specific computation and produces output.

In [0]:
def num(a,b):
  return a+b

result = num(10,2)
print(result)

12

Also a function can return multiple values in the form of a tuple by which they can't be changed furthur.

In [0]:
def cal(a,b):
  x = a+b
  y = a-b
  p = a*b
  q = a/b
  return x,y,p,q

result = cal(4,2)
print(result)

for i in result:
  print(i)

(6, 2, 8, 2.0)
6
2
8
2.0

**Variables**
There are two types of variables - Global and local variable
Local var -- These type of variable only used inside a function.
Global var --  These type of variable can be used anywhere in the program.

In [0]:
x = 467

def display():
  x = 345
  print(x)
  print(globals()['x'])  #globals()['varibale name'] , used to access the global variable.
  

print(x)
display()

467
345
467

**function inside a function**

In [0]:
def display(name):
  def message():
    return "Hello "
  result = message() + name
  return result

display("Ritik")

'Hello Ritik'

 **Recursion**
 Recursive functions are those which call itself. Very first step in these type of fucntions to define the end condition. for eg factorial

In [13]:
def factorial(n):
  if n==0:
    result = 1
  else:
    result = n*factorial(n-1)
  return result

for i in range(5):
  print(factorial(i))

1
1
2
6
24