In [1]:
person = {"first": ["Ritik","Rohan","Vishal"],
         "last": ["Dhiman","Sharma","Gupta"],
         "email": ["ritik@email.com","rohan@email.com","vishal@email.com"]}

In [4]:
import pandas as pd
df = pd.DataFrame(person)
df

    first    last             email
0   Ritik  Dhiman   ritik@email.com
1   Rohan  Sharma   rohan@email.com
2  Vishal   Gupta  vishal@email.com

In [5]:
#for acessing any row we use the default index for eg.
df.loc[0]

first              Ritik
last              Dhiman
email    ritik@email.com
Name: 0, dtype: object

In [36]:
df.reset_index(inplace =True)

In [37]:
 df.loc[1]

first       Rohan
level_0         1
index           1
last       Sharma
Name: 1, dtype: object